body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
.joke{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top:100%;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 15px;
    display: flex;
    
}
@keyframes move{
    to{
        top:50%;
        transform: translate(-50%,-50%);
    }
}
.joke h2{
    font-size: 25px;
}
.joke.hide{
    top:100
}
.joke img{
    height: 300px;
    object-fit: contain;
    position: relative;
}
.joke-right{
    list-style-type: none;
}
.joke-right h2{
    animation: textScale 1s infinite;
}
.joke-right li{
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
.joke-right h3{
    font-size: 22px;
    color: #000;
    margin-top:60px;
    animation: textScale 2s infinite ease 1s;
}
@keyframes textScale{
    to{
        transform: scale(1.2);
        color: #d22828;
        text-shadow: 0 2px 3px currentColor;
    }
}
